<app-header-view></app-header-view>
<section class="section-contact ">
  <div class="title-page"><i class="material-icons title-icons">
      assignment
    </i>Curriculum</div>
  <p class="title-line-divisor"></p>
  <div class="flex-contact">
    <div class="flex-image">
      <img class="image-edu-curriculum" src="./assets/curriculumEdu.png">
    </div>
    <div class="grid-curriculum">
      <div class="grid-curriculum-row1">
        <p>Nombre:</p>
        <p>Apellidos:</p>
        <p>Nacimiento:</p>
        <p>Localidad:</p>
        <p>Teléfono:</p>
        <p>Email:</p>
        <p>Carnet de conducir.</p>
      </div>
      <div class="grid-curriculum-row2">
        <p>Eduardo</p>
        <p>Navarro Poveda</p>
        <p>20/01/1993</p>
        <p>Elda</p>
        <p>644525714</p>
        <p>edunavarro13@gmail.com</p>
      </div>
    </div>
  </div>
  <p class="title-line-divisor"></p>
  <div class="section-without-img">
    <ul>
      <li>Inglés. Grado B1. Impartido en la Universidad en AULAS.</li>
      <li>Valenciano. Grado elemental.</li>
    </ul>
  </div>
  <p class="title-line-divisor"></p>
  <!-- Experiencia -->
  <div class="grid-curriculum-experiences">
    <div class="grid-cell">
      <img class="image-size" src="./assets/logosExp/servipau.jpg">
    </div>
    <div class="grid-cell">
      <ul>
        <li>(Junio 2017 - Agosto 2017) Android Engineer en Internacional Express - Servipau S.L.</li>
      </ul>
    </div>
    <div class="grid-cell">
      <img class="image-size" src="./assets/logosExp/frombench.png">
    </div>
    <div class="grid-cell">
      <ul>
        <li>(Febrero 2016 - Abril 2016) Desarrollador de PHP y SQL en From The Bench Games</li>
      </ul>
    </div>
  </div>
  <p class="title-line-divisor"></p>
  <!-- Estudios -->
  <div class="grid-curriculum-studies">
    <div class="grid-cell">
      <img class="image-size" src="./assets/logosExp/geekshubs.jpg">
    </div>
    <div class="grid-cell">
      <ul>
        <li>(2019) Bootcamp intensivo de 8 semanas realizado por Geekshubs para formar programadores full stack.</li>
      </ul>
    </div>
    <div class="grid-cell">
        <img class="image-size" src="./assets/logosExp/edx.png">
      </div>
      <div class="grid-cell">
        <ul>
          <li>(2019) UPValenciaX: UNY201.x Introducción al desarrollo de videojuegos con Unity </li>
          <li>(2018) AIP2018: Android: Introducción a la programación </li>
        </ul>
      </div>
    <div class="grid-cell">
      <img class="image-size" src="./assets/logosExp/ua.png">
    </div>
    <div class="grid-cell">
      <ul>
        <li>(2018) Grado de ingeniería informática en la Universidad de Alicante (Especialización de Software)</li>
      </ul>
    </div>
    <div class="grid-cell">
      <img class="image-size" src="./assets/logosExp/lamelva.png">
    </div>
    <div class="grid-cell">
      <ul>
        <li>ESO I.E.S La Melva</li>
        <li>Bachillerato de ciencias I.E.S La Melva</li>
      </ul>
    </div>
  </div>
</section>
