<section class="section-project" *ngIf="projectArray">
  <div *ngFor="let project of projectArray">
    <div *ngIf="project.id % 2 !== 0" class="blog-card">
      <div class="meta">
        <div class="photo" [style.backgroundImage]="'url('+ project.image +')'"></div>
        <ul class="details">
          <li class="author"><a href="#">{{ project.author }}</a></li>
          <li class="date">{{ project.date }}</li>
          <li class="tags">
            <ul>
              <li *ngFor="let tag of project.tags">
                  <a href="#">◽️ {{ tag }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>{{ project.name }}</h1>
        <h2>{{ project.resume }}</h2>
        <p>{{ project.description }}</p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
    <div *ngIf="project.id % 2 === 0" class="blog-card alt">
      <div class="meta">
        <div class="photo" [style.backgroundImage]="'url('+ project.image +')'"></div>
        <ul class="details">
          <li class="author"><a href="#">{{ project.author }}</a></li>
          <li class="date">{{ project.date }}</li>
          <li class="tags">
            <ul>
              <li *ngFor="let tag of project.tags">
                <a href="#">◽️ {{ tag }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>{{ project.name }}</h1>
        <h2>{{ project.resume }}</h2>
        <p>{{ project.description }}</p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
</section>
