<app-header-view></app-header-view>
<section class="section-project" *ngIf="projectArray">
    <div class="title-page"><i class="material-icons title-icons">
        work
      </i>Proyectos</div>
    <p class="title-line-divisor"></p>
    <div class="filter-style">
      <label class="right-margin">Filtrar por lenguajes:</label>
      <select class="filter-select" (change)="filterChange($event)"> -->
        <option value="Todos">Todos</option>
        <option value="HTML5">HTML5</option>
        <option value="CSS">CSS</option>
        <option value="Javascript">Javascript</option>
        <option value="ECM6">ECM6</option>
        <option value="Typescript">Typescript</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
      </select>
    </div>
  <div *ngFor="let project of projectArrayAux">
    <div *ngIf="project.id % 2 !== 0" class="blog-card">
      <div class="meta">
        <div class="photo" [style.backgroundImage]="'url('+ project.image +')'"></div>
        <ul class="details">
          <li class="author"><a href="#">{{ project.author }}</a></li>
          <li class="date">{{ project.date }}</li>
          <li class="tags">
            <ul>
              <li *ngFor="let tag of project.tags">
                  <a href="#">◽️ {{ tag }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>{{ project.name }}</h1>
        <h2>{{ project.resume }}</h2>
        <p>{{ project.description }}</p>
        <p class="read-more">
          <a href="#">Leer más</a>
        </p>
      </div>
    </div>
    <div *ngIf="project.id % 2 === 0" class="blog-card alt">
      <div class="meta">
        <div class="photo" [style.backgroundImage]="'url('+ project.image +')'"></div>
        <ul class="details">
          <li class="author"><a href="#">{{ project.author }}</a></li>
          <li class="date">{{ project.date }}</li>
          <li class="tags">
            <ul>
              <li *ngFor="let tag of project.tags">
                <a href="#">◽️ {{ tag }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>{{ project.name }}</h1>
        <h2>{{ project.resume }}</h2>
        <p>{{ project.description }}</p>
        <p class="read-more">
          <a href="#">Leer más</a>
        </p>
      </div>
    </div>
  </div>
</section>
