.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  background-image: url('../../assets/fondo1.png');
  padding-bottom: 5vh;
}

.title-page {
  font-size: 4em;
  height: 10vh;
  width: 100vw;
  color: rgb(223, 223, 223);
  text-align: center;
  text-shadow:
    1px 0px 5px rgba(35, 231, 214, 1),
    -1px 1.5px 5px rgba(210, 17, 50, 1);
}

.flex-description {
  width: 90vw;
  min-height: 65vh;
  display: flex;
  margin-bottom: 5vh;
  justify-content: center;
  align-items: center;
}

.title-line-divisor {
  height: 0.4vh;
  width: 80vw;
  background-color: silver;
  border: 0.1vh solid rgb(151, 151, 151);
}

.title-icons {
  font-size: 0.8em;
  margin-right: 1vw;
}

.image-icon {
  width: 30vw;
}

.detail-project {
  min-width: 40vw;
  max-width: 60vw;
  margin: 20px;
  box-sizing: border-box;
  font-size: 1.8em;
  color: rgb(223, 223, 223);
}

.grid-tags {
  font-size: 2em;
  color: rgb(223, 223, 223);
  width: 60vw;
  display: grid;
  justify-items: center;
  align-content: center;
  background-color: #8fd6e35e; /* For browsers that do not support gradients */
    background-image: radial-gradient(#8fd6e35e, #76aeb85e, #3d5b615e); /* Standard syntax (must be last) */
  border-radius: 10px;
    border-left: 15px rgb(37, 37, 37) solid;
    border-right: 15px rgb(26, 26, 26) solid;
    border-bottom: 7px #73d0df outset;
    border-top: 7px #73d0df outset;
    box-sizing: border-box;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.445);
}

.label-cabecera {
  font-weight: bold;
  text-shadow:
    1px 0px 5px rgba(35, 231, 214, 1),
    -1px 1.5px 5px rgba(210, 17, 50, 1);
  
}

.label-content {
  border-top: 2px outset #73d0df;
  margin-left: 3vw;
  margin-right: 3vw;
}

@media screen and (max-width: 600px) {
  .flex-description {
    flex-wrap: wrap;
  }

  .title-page {
    font-size: 3em;
    min-height: 20vh;
  }

  .image-icon {
    width: 80vw;
  }

  .detail-project {
    margin: 5px;
    font-size: 1.5em;
  }
}
