<app-header-view [typeHeader]="1"></app-header-view>
<section class="section-contact ">
  <div class="title-page"><i class="material-icons title-icons">
      account_circle
    </i>{{ projectActual.name }}</div>
  <p class="title-line-divisor"></p>
  <div class="flex-description">
    <img class="image-icon" src="{{projectActual.image}}">
    <div class="detail-project">
      <div *ngFor="let chain of projectActual.detail">
        {{chain}}<br><br>
      </div>
    </div>
  </div>
  <div class="grid-tags">
    <label class="label-cabecera">Tags: </label>
    <div class="label-content">
      <label *ngFor="let tag of projectActual.tags">{{ tag }}, </label>
    </div>
  </div>
  <div class="flex-links">
    <div *ngIf="projectActual.github">
      <a href="{{projectActual.github}}" target="_blank">
        <p>Github</p>
        <img class="size-logo" src="./assets/github.png">
      </a>
    </div>
    <div *ngIf="projectActual.bitbucket">
      <a href="{{projectActual.bitbucket}}" target="_blank">
        <p>Bitbucket</p>
        <img class="size-logo" src="./assets/bitbucket.png">
      </a>
    </div>
    <div *ngIf="projectActual.demo">
      <a href="{{projectActual.demo}}" target="_blank">
        <p>Demo</p>
        <img class="size-logo" src="./assets/demo.png">
      </a>
    </div>
  </div>
</section>
