<body>
  <div class="flex-card-personal">
    <div class="card-personal">
      <img class="img-edu" src="../../assets/OhxofePI.jpg">
      <div class="edu-initial">
        <p class="presentacion-titulo">Hola, soy Eduardo Navarro Poveda.</p>
        <p class="linea-separadora"></p>
        <p>Soy un ingeniero informático graduado por la Universidad de Alicante. Soy un amante de la
          tecnología y la innovación y siempre estoy deseando embarcarme en algún proyecto novedoso. Si
          quieres saber más sobre mí, ve hacia abajo. </p>
      </div>
    </div>
  </div>
</body>
<section id="options" class="section-buttons">
  <div class="title-page">
    <i class="material-icons title-icons">list</i>Selecciona una de las opciones:</div>
  <p class="title-line-divisor"></p>

  <section id="main-menu">
    <ul>
      <li class="selected">
        <div class="futuristic-button">
          <div class="top"></div>
          <div class="parallelogram-left"></div>
          <div class="parallelogram-right"></div>
          <div class="bottom"></div>
          <p routerLink="/projects" routerLinkActive="active" class="button-text">
            <i class="material-icons">work</i>Ver proyectos</p>
        </div>
      </li>
      <li>
        <div class="futuristic-button">
          <div class="top"></div>
          <div class="parallelogram-left"></div>
          <div class="parallelogram-right"></div>
          <div class="bottom"></div>
          <p routerLink="/tools" routerLinkActive="active" class="button-text">
            <i class="material-icons">build</i>Ver herramientas</p>
        </div>
      </li>
      <li>
        <div class="futuristic-button">
          <div class="top"></div>
          <div class="parallelogram-left"></div>
          <div class="parallelogram-right"></div>
          <div class="bottom"></div>
          <p class="button-text">
              <i class="material-icons">assignment</i>Ver currículum</p>
        </div>
      </li>
      <li>
        <div class="futuristic-button">
          <div class="top"></div>
          <div class="parallelogram-left"></div>
          <div class="parallelogram-right"></div>
          <div class="bottom"></div>
          <p routerLink="/contact" routerLinkActive="active" class="button-text">
            <i class="material-icons">account_circle</i>Contacto</p>
        </div>
      </li>
    </ul>
  </section>
</section>
