body {
    background-image: url("../../assets/fondo4.png");
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.flex-card-personal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-personal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 70vw;
    background-color: #8fd6e35e; /* For browsers that do not support gradients */
    background-image: radial-gradient(#8fd6e35e, #76aeb85e, #3d5b615e); /* Standard syntax (must be last) */
    border-radius: 10px;
    border-left: 15px rgb(37, 37, 37) solid;
    border-right: 15px rgb(26, 26, 26) solid;
    border-bottom: 7px #73d0df outset;
    border-top: 7px #73d0df outset;
    box-sizing: border-box;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.445);
}

.img-edu {
    border-radius: 50%;
    margin-left: 2vw;
}

.edu-initial {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 50vw;
    font-size: 1.5em;
    color: rgb(228, 228, 228);
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.linea-separadora {
    height: 0.4vh;
    background-color: silver;
    border: 0.1vh solid rgb(151, 151, 151);
}

@media screen and (max-width: 600px) {
    .card-personal {
        flex-wrap: wrap;
        width: 90vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .edu-initial {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }
    .img-edu {
        border-radius: 50%;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
    }
}

// ------------ Botones ------------------------

.section-buttons {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(181,181,181,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(181,181,181,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(181,181,181,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(181,181,181,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(181,181,181,1) 100%);
    //background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(181,181,181,1) 100%);
    background-image: url("../../assets/fondo1.png");
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5b5b5', GradientType=1 );
}


/*  ====================================
        FUTURISTIC U.I. SERIES
    ====================================  */
h1 {
  margin: 50px 0 0 0;
  //color: rgba(50,50,50,1);
  color: rgb(223, 223, 223);
  text-align: center;
  text-shadow: 
    1px 0px 5px rgba(35, 231, 214, 1),
    -1px 1.5px 5px rgba(210, 17, 50, 1);
  font-family: 'Ubuntu Condensed', sans-serif;
}


/*  ====================================
              FUTURISTIC MENU
    ====================================  */
section#main-menu ul {
    padding: 0;
    margin: 50px 0 0 0;
    list-style: none;
    perspective: 800px;
    height: 100vh;
}

section#main-menu ul li {
    width: 100%;
    font-size: 5rem;
    margin: 0 0 50px 0;
    transform: rotateY(-25deg);
    transition: transform .25s linear;
}

section#main-menu ul li.selected {
    transform: rotateY(0deg);
    transition: transform .25s linear;
}

/*  ====================================
                MODERN BUTTON
    ====================================  */
.futuristic-button {
    height: 60px;
    width: 280px;
    position: relative;
    top: 0px;
    left: calc(50% - 140px);
    cursor: pointer;
}

.futuristic-button:before
{
    content:"";
    height: 50px;
    position:absolute;
    z-index:-1;
    box-shadow:0 0 5px rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.4);
    top: 2px;
    bottom:0;
    left:10px;
    right:10px;
    border-radius: 100%;
}

.top, .bottom, .parallelogram-left, .parallelogram-right, .button-text {
    width: 100%;
    background: rgba(56,134,133,1);
}

.top, .bottom {
    height: 20px;
    position: relative;
    z-index: 10;
    transition: all .5s;
}

.top {
    top: 0px;
    left: calc(50% - 140px - 20px);
    border-top-left-radius: 5px;
    background: rgba(39,94,93,1);
    background: -moz-linear-gradient(-45deg, rgba(39,94,93,1) 0%, rgba(56,134,133,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(39,94,93,1)), color-stop(100%, rgba(56,134,133,1)));
    background: -webkit-linear-gradient(-45deg, rgba(39,94,93,1) 0%, rgba(56,134,133,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(39,94,93,1) 0%, rgba(56,134,133,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(39,94,93,1) 0%, rgba(56,134,133,1) 100%);
    background: linear-gradient(135deg, rgba(39,94,93,1) 0%, rgba(56,134,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#275e5d', endColorstr='#388685', GradientType=1 );
}

.bottom {
    top: 10px;
    left: calc(50% - 140px + 20px);
    border-bottom-right-radius: 5px;
    border-right: 1px solid rgba(39,94,93,1);
    border-bottom: 1px solid rgba(39,94,93,1);

    background: rgba(56,134,133,1);
    background: -moz-linear-gradient(-45deg, rgba(56,134,133,1) 0%, rgba(39,94,93,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(56,134,133,1)), color-stop(100%, rgba(39,94,93,1)));
    background: -webkit-linear-gradient(-45deg, rgba(56,134,133,1) 0%, rgba(39,94,93,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(56,134,133,1) 0%, rgba(39,94,93,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(56,134,133,1) 0%, rgba(39,94,93,1) 100%);
    background: linear-gradient(135deg, rgba(56,134,133,1) 0%, rgba(39,94,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#388685', endColorstr='#275e5d', GradientType=1 );
}


.parallelogram-left, .parallelogram-right {
    transition: all .5s;
    height: 30px;
    position: absolute;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
}

.parallelogram-left {
    top: 20px;
    left: calc(50% - 140px - 6px);
    border-bottom: 1px solid rgba(39,94,93,1);
    border-left: 1px solid rgba(39,94,93,1);
}

.parallelogram-right {
    top: 0px;
    left: calc(50% - 140px + 7px);
    border-right: 1px solid rgba(39,94,93,1);
}

.button-text {
    color: white;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;

    text-shadow: 
          1px 0px 5px rgba(35, 231, 214, 1),
          -1px 1.5px 5px rgba(210, 17, 50, 1);
    position: absolute;
    top: -14px;
    background: transparent !important;
    text-align: center;
    left: calc(50% - 140px);
    z-index: 11;
}



/*  ====================================
          FUTURISTIC BUTTON BORDER
    ====================================  */
.top::after {
    content: "";
    width: 307px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: calc(50% - 140px - 10px);
    border-top-left-radius: 5px;
    border-top: 3px solid rgba(39,94,93,1);
    border-left: 3px solid rgba(39,94,93,1);
}

.bottom::after {
    content: "";
    width: 307px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: calc(50% - 140px - 17px);
    border-bottom-right-radius: 5px;
    border-bottom: 3px solid rgba(39,94,93,1);
    border-right: 3px solid rgba(39,94,93,1);
}

.parallelogram-left::after {
    content: "";
    height: 40px;
    position: absolute;
    top: 2px;
    left: calc(50% - 140px - 14px);
    border-left: 3px solid rgba(39,94,93,1);
}

.parallelogram-right::after {
    content: "";
    height: 40px;
    position: absolute;
    top: -10px;
    left: calc(50% + 140px + 10px );
    border-right: 3px solid rgba(39,94,93,1);
}



/*  ====================================
        FUTURISTIC BUTTON ANIMATION
    ====================================  */
.top.active {
    transition: all .5s;
    left: -1000%;
}

.bottom.active {
    transition: all .5s;
    left: 1000%;
}

.parallelogram-left.active {
    transition: all .5s;
    left: calc(50% - 140px + 7px);
}

.parallelogram-right.active {
    transition: all .5s;
    left: calc(50% - 140px - 7px);
}