<h1>Futuristic U.I. Series</h1>

<section id="main-menu">
  <ul>
      <li class="selected">
          <div class="futuristic-button">
              <div class="top"></div>
              <div class="parallelogram-left"></div>
              <div class="parallelogram-right"></div>
              <div class="bottom"></div>
              <p class="button-text">New Game</p>
          </div>
      </li>
      <li>
          <div class="futuristic-button">
              <div class="top"></div>
              <div class="parallelogram-left"></div>
              <div class="parallelogram-right"></div>
              <div class="bottom"></div>
              <p class="button-text">Options</p>
          </div>
      </li>
      <li>
          <div class="futuristic-button">
              <div class="top"></div>
              <div class="parallelogram-left"></div>
              <div class="parallelogram-right"></div>
              <div class="bottom"></div>
              <p class="button-text">Extras</p>
          </div>
      </li>
      <li>
          <div class="futuristic-button">
              <div class="top"></div>
              <div class="parallelogram-left"></div>
              <div class="parallelogram-right"></div>
              <div class="bottom"></div>
              <p class="button-text">Quit</p>
          </div>
      </li>
  </ul>
</section>
