.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 85vh;
  background-image: url('../../assets/fondo1.png');
  padding-bottom: 5vh;
}

.title-page {
  font-size: 4em;
  height: 10vh;
  width: 100vw;
  color: rgb(223, 223, 223);
  text-align: center;
  text-shadow:
    1px 0px 5px rgba(35, 231, 214, 1),
    -1px 1.5px 5px rgba(210, 17, 50, 1);
}


.title-line-divisor {
  height: 0.4vh;
  width: 80vw;
  background-color: silver;
  border: 0.1vh solid rgb(151, 151, 151);
}

.title-icons {
  font-size: 0.8em;
  margin-right: 1vw;
}

.grid-contact {
  width: 80vw;
  font-size: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  color: rgb(223, 223, 223);
}


.grid-contact-mobile {
  width: 90vw;
  font-size: 2em;
  display: grid;
  justify-items: center;
  align-items: center;
  color: rgb(223, 223, 223);
}

.image-icon {
  height: 25vh;
  margin: 4px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

a {
  color: rgb(223, 223, 223);
}

a:hover {
  color: #0bcdff;
}

label {
  text-shadow:
    1px 0px 5px rgba(35, 231, 214, 1),
    -1px 1.5px 5px rgba(210, 17, 50, 1);
}

.cell-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 2px outset #73d0df;
  text-align: center;
  background-color: #8fd6e35e; /* For browsers that do not support gradients */
    background-image: radial-gradient(#8fd6e35e, #76aeb85e, #3d5b615e); /* Standard syntax (must be last) */
}

#div-mobile{
  display: none;
}
#label-mobile{
  display: none;
}

.flex-cell{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .title-page {
		font-size: 2.8em;
		min-height: 15vh;
  }
  #div-desktop {
    display: none;
  }
  #label-desktop {
    display: none;
  }
  #div-mobile {
    display: block;
  }
  #label-mobile {
    display: block;
  }
  .cell-border {
    width: 90vw;
  }
}
