<header>
  <div routerLink="/home" routerLinkActive="active" class="link">
    <i class="material-icons">home</i> A Inicio</div>
</header>
<section class="section-contact ">
  <div class="title-page"><i class="material-icons title-icons">
      account_circle
    </i>Contacto</div>
  <p class="title-line-divisor"></p>
  <div class="grid-contact">
    <img class="img-rajoy" src="../../assets/rajoy.png">
    <div class="info-contact">
      <p>"Es el programador el que elige el proyecto y es el proyecto el que quiere que sean los
        programadores el proyecto".</p>
      <p>Así que, si tienes un proyecto interesante y quieres comentármelo, no lo dudes y ponte en
        contacto conmigo en cualquiera de las
        siguientes opciones:</p>
      <div class="grid-contact-buttons">
        <div>
          <a href="https://www.linkedin.com/in/eduardo-navarro-poveda-87225b162/" target="_blank">
            <p>Linkedin</p>
            <img class="size-logo" src="../../assets/LinkedIn_logo_initials.png">
            
          </a>
        </div>
        <div>
          <a href="#" target="_blank">
              <p>Gmail</p>
            <img class="size-logo" src="../../assets/gmail.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
